body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}
.wrapper {
  width: 1200px;
}

.navigation {
  position: relative;
}

.navigation .menu {
  display: flex;
  justify-content: space-around;
  line-height: 26px;
  font-weight: bold;
  width: 1200px;
}

.menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.menu li:nth-child(2) {
  padding-right: 10%;
}

.menu li:nth-child(3) {
  padding-left: 10%;
}

.menu a:hover,
.menu a:focus
.menu.active {
  color: #766357;
}

.menu a {
  color: #000000;
  text-decoration: none;
}

.logo-image {
  width: 1200px;
  position: absolute;
  text-align: center;
}

.intro {
  background-image: url("../img/vinette.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img {
  background-image: url("../img/img/WTGSBGCS.png");
  width: 458px;
  height: 352px;
}



.tagline {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.compare {
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;

}

.features-row {
  display: flex;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 250px;
  padding-bottom: 10px;
}

.feature-title {
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
}

.feature-number {
  line-height: 21px;
}

.feature-number::before {
  content: "—";
  padding-left: 10px;
}

.feature-number::after {
  content: "—";
  padding-right: 10px;
}


.feature-advice {
  line-height: 21px;
  padding: 0 50px;
}

.feature-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-gray {
  background-color: #eeeeee;
}

.feature-image {
  background-size: cover;
  height: 260px;
  width: 800px;
}

.feature-image.sedona {
  background-image: url("../img/real-city.jpg");
}

.feature-image.devils {
  background-image: url("../img/devils-bridge.jpg");
}

.feature-accomodation::before {
  background-image: url("../img/icon-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  content: " ";
}

.feature-food::before {
  background-image: url("../img/icon-3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  content: " ";
}

.feature-souvenirs::before {
  background-image: url("../img/icon-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  content: " ";
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-intro {
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.search-info {
  line-height: 24px;
  text-align: center;
}

.search-form {
  box-sizing: border-box;
  width: 580px;
  padding: 52px;
}

.search-form .row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-form label {
  line-height: 26px;
  font-weight: bold;
  width: 25%;
}


.search-form input {
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  width: 75%;
}

input.field-number {
  text-align: center;
  width: 42px;
}

button.sign {
  text-align: center;
  width: 42px;
}

.children {
  text-align: center;
}

.button:active {
  background: #81b3d2;
}

.button:focus {
  background: #669ec0;
}


.button:hover {
  background: #5496bd;
  border-color: #123456;
}


.search-button {
  background-color: #766357;
  width: 568px;
  height: 86px;
  color: #ffffff;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.submit {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  color: #ffffff;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.map {
  background-image: url(../img/map.jpg);
  background position: repeat;
  background-size: cover;
  height: 748px;
}

.map-iframe {
  height: 748px;
  width: 100%;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-hashtag {
  line-height: 26px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;

}

.copyright {
  display: flex;
  align-items: center;
}

.footer-logo {
  background-image: url("../img/logo-htmlacademy.svg");
  display: block;
  margin-left: 10px;
  width: 115px;
  height: 41px;
}


.social-buttons {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-buttons li {
  margin-left: 10px;
}


.copyright {
  text-align: right;
}

/* ------------ */

li.active {
  color: #766357;
}

.filters {
  background-image: url(../img/filter-background.jpg);
  width: 1200px;
  height: 562px;
  color: #ffffff;
}

 .filters-title {
   line-height: 21px;
   font-size: 16px;
   font-weight: bold;
 }

 .filters-form li {
   line-height: 21px;
 }

.price{
  line-height: 21px;
  font-size: 16px;
  font-weight: bold;
}

.from, .to {
  line-height: 21px;
}

.button.filters-button {
  background: transparent;
  border-color: white;
  line-height: 21px;
  color: white;
  width: 133px;
  height: 32px;
}

.sorting-results {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.sorting-types{
  line-height: 18px;
  font-size: 12px;
}

.sorting-item:not(.active){
  border-bottom: 1px dashed #81b3d2;
  color: #000000;
}

.sorting-item.active {
  color: #81b3d2;
}


.hotel-name {
  color: #000000;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}


a.button {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
}

.button.button-brown {
  background-color: #766357;
}
