body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}
.wrapper {
  width: 1200px;
}

.navigation {
  position: relative;
}

.navigation .menu {
  display: flex;
  justify-content: space-around;
  line-height: 26px;
  font-weight: bold;
  width: 1200px;
}

.menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.menu li:nth-child(2) {
  padding-right: 10%;
}

.menu li:nth-child(3) {
  padding-left: 10%;
}

.menu a:hover,
.menu a:focus
.menu.active {
  color: #766357;
}

.menu a {
  color: #000000;
  text-decoration: none;
}

.logo-image {
  width: 1200px;
  position: absolute;
  text-align: center;
}

.intro {
  background-image: url(../img/vinette.png), url(../img/background-photo.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img {
  background-image: url(../img/img/WTGSBGCS.png);
  width: 458px;
  height: 352px;
}



.tagline {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.compare {
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;

}

.features-row {
  display: flex;
}

.feature {
  width: 400px;
}

.feature-title {
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
}

.feature-number {
  line-height: 21px;
}

.feature-advice {
  line-height: 21px;
}

.feature-blue .feature-title {
  color: #ffffff;
}

.feature-blue {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
}

.feature-gray {
  background-color: #eeeeee;
}

.search {
  text-align: center;
}

.search-intro {
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
}

.search-info {
  line-height: 24px;
}

.options, .adults, .children {
  line-height: 26px;
  font-weight: bold;
}

input {
  line-height: 26px;
  font-weight: bold;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 5px 12px;
  color: #123456;
  font-size: ;
  line-height: ;
  Font-weight: 400px
  Border: 2px solid #;
  max-width: 300px;
  min-width: 120px;
  text-align: center;
  transition: all 0,3s linear;
  cursor: pointer;
  Font-family: PT Sans Ariel sans serif
  Text-transform: uppercase;
}


.button:active {
  background: #81b3d2;
}

.button:focus {
  background: #669ec0;
}


.button:hover {
  background: #5496bd;
  border-color: #123456;
}


.search-button {
  background-color: #766357;
  width: 568px;
  height: 86px;
  color: #ffffff;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.submit {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  color: #ffffff;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.map {
  background-image: url(../img/map.jpg);
  background position: repeat;
  background-size: cover;
  height: 748px;
}

.map-iframe {
  height: 748px;
  width: 100%;
  border: none;
}

.footer-hashtag {
  line-height: 26px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.footer-logo {
  width: 115px;
  height: 41px;
}


.social-buttons {
  list-style: none;
  text-align: center;
}

.copyright {
  text-align: right;
}

/* ------------ */

li.active {
  color: #766357;
}

.filters {
  background-image: url(../img/filter-background.jpg);
  width: 1200px;
  height: 562px;
  color: #ffffff;
}

 .filters-title {
   line-height: 21px;
   font-size: 16px;
   font-weight: bold;
 }

 .filters-form li {
   line-height: 21px;
 }

.price{
  line-height: 21px;
  font-size: 16px;
  font-weight: bold;
}

.from, .to {
  line-height: 21px;
}

.button.filters-button {
  background: transparent;
  border-color: white;
  line-height: 21px;
  color: white;
  width: 133px;
  height: 32px;
}

.sorting-results {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.sorting-types{
  line-height: 18px;
  font-size: 12px;
}

.sorting-item:not(.active){
  border-bottom: 1px dashed #81b3d2;
  color: #000000;
}

.sorting-item.active {
  color: #81b3d2;
}


.hotel-name {
  color: #000000;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}


a.button {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
}

.button.button-brown {
  background-color: #766357;
}
