html {
  box-sizing: border-box;
}

::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* .button:focus {
  outline: none;
} */

.wrapper {
  position: relative;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  position: relative;
}

.navigation .menu {
  display: flex;
  justify-content: space-around;
  line-height: 26px;
  font-weight: bold;
  width: 1200px;
}

.menu {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 60px;
}

.menu-item:nth-child(2) {
  padding-right: 10%;
}

.menu-item:nth-child(3) {
  margin-left: 10%;
}

.menu-item a {
  text-decoration: none;
  color: #000000;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #cacaca;
}

.menu-item .active {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.intro {
  background-image: url("../img/vinette.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  height: 510px;
  margin-bottom: 62px;
}

.intro-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 144px;
}

.tagline {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
}

.compare {
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.feature {
  text-align: center;
  width: 400px;
  padding-top: 46px;
  padding-bottom: 66px;
}

.features-row {
  display: flex;
  text-align: center;
}

.feature-icon {
  position: relative;
  padding-top: 150px;
}

.feature-icon::before {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  height: 72px;
  padding-top: 60px;
}

.feature-accomodation::before {
  background-image: url("../img/icon-1.svg");
  width: 75px;
}

.feature-food::before {
  background-image: url("../img/icon-3.svg");
  width: 74px;
}

.feature-souvenirs::before {
  background-image: url("../img/icon-2.svg");
  width: 64px;
}

.feature-title {
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
}

.feature-number {
  line-height: 21px;
}

.feature-number::before {
  content: "—";
  padding-left: 10px;
}

.feature-number::after {
  content: "—";
  padding-right: 10px;
}

.feature-advice {
  line-height: 21px;
  padding: 0 50px;
}

.feature-blue {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
  height: 260px;
}

.feature-gray {
  background-color: #eeeeee;
}

.feature-image {
  background-size: cover;
  width: 800px;
  height: 260px;
}

.feature-image.sedona {
  background-image: url("../img/real-city.jpg");
}

.feature-image.devils {
  background-image: url("../img/devils-bridge.jpg");
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.search-intro {
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.search-info {
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.search-form {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  width: 574px;
  height: 396px;
  margin: 0 auto;
  padding: 58px;
}

.modal {
  display: none;
}

.modal-show {
  display: block;
}

.search-form .row {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-form label {
  line-height: 26px;
  font-weight: bold;
  width: 100px;
}

.field {
  box-sizing: border-box;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  height: 38px;
  padding: 0 10px;
  border: none;
}

.field:hover {
  background-color: #ebebeb;
}

.field:focus {
  background-color: #ffffff;
}

.field:active {
  background-color: #ffffff;
}

.field-check {
  width: 346px;
  padding-right: 50px;
}

.field::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.field:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.field::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.field::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.field:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.field::placeholder {
  color: #000000;
  opacity: 1;
}

.field-number {
  text-align: center;
  width: 38px;
  padding: 0;
}

.calendar {
  position: absolute;
  right: 15px;
  color: #cacaca;
  background-color: transparent;
  border: none;
  height: 38px;

}

.calendar:hover {
  color: #000000;
}

.calendar:active {
  color: #88b7d5;
}

.button.sign {
  font-size: 24px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.button.sign:hover {
  color: #000000;
}

.button.sign:active {
  color: #81b3d2;
}

.children {
  text-align: center;
  margin-left: 18px;
}

.button-search {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 574px;
  height: 86px;
  margin-top: 40px;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;
  background-color: #503e33;
}

.search-form-button {
  line-height: 26px;
  font-size: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  width: 458px;
  height: 58px;
}

.search-form-button:hover {
  background-color: #669ec0;
}

.search-form-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.map {
  background-image: url(../img/map.jpg);
  background position: repeat;
  background-size: cover;
  height: 630px;
}

.map-iframe {
  border: none;
  height: 630px;
  width: 100%;
}

.modal-show {
  display: block;
}

.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 35px;
}

.footer-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-index {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  bottom: 0;
}

.footer-hashtag {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.copyright {
  display: flex;
  align-items: center;
}

.footer-logo {
  color: #231f20;
  margin-left: 9px;

}

.footer-logo:hover {
  color: #81b3d2;
}

.footer-logo:active {
  color: #bdbbbc;
}

.social-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
}

.twitter {
  width: 18px;
  height: 18px;
}

.fb {
  width: 14px;
  height: 27px;
}

.youtube {
  width: 20px;
  height: 22px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 47px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-buttons li {
  margin-right: 10px;
}

.social-buttons li:last-child {
  margin-right: 0;
}

.copyright {
  text-align: right;
}

/* ------------ */

.filters {
  box-sizing: border-box;
  background-image: url(../img/filter-background.jpg);
  color: #ffffff;
  width: 1200px;
  padding: 60px;
  margin: 0 auto;
}

.filters-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.filters-form-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 21px;
  list-style: none;
  width: 240px;
  margin: 0;
  padding: 0;
}

.filters-form-list:last-of-type {
  flex-grow: 1;
}

 .filters-title {
   line-height: 21px;
   font-size: 16px;
   font-weight: bold;
 }

 .filters-price {
   color: #ffffff;
   width: 330px;
   padding-right: 100px auto;
 }

 .filter-price-title {
  font-weight: 600;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
}

.filters-item {
  display: flex;
  align-items: center;
}

.filter.type {
  margin-left: 12px;
}

.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
}

.checkbox-label:before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-position: center;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.svg");
  left: 0;
  top: 0;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label:before {
  background-image: url("../img/checkbox-on.svg");
  width: 27px;
  background-size: 27px 23px;
  cursor: pointer;
}

.checkbox:disabled + .checkbox-label:before {
  background-image: url("../img/checkbox-off.svg");
  color: #6a6a6a;
  cursor: pointer;
}

.checkbox:checked:disabled + .checkbox-label:before {
  background-image: url("../img/checkbox-on.svg");
  color: #6a6a6a;
  width: 27px;
  background-size: 27px 23px;
  cursor: pointer;
}

.price-controls {
  position: relative;
  font-size: 0;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  content: "";
  width: 2px;
  height: 22px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .number-from,
.price-controls .number-to {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  color: inherit;
  font: inherit;
  background: none;
  width: 50px;
  margin: 0;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.button-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting-filters {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 0;
  padding: 0 72px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
}

.sorting-results {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  width: 165px;
}

.sorting-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  line-height: 18px;
  font-size: 12px;
}

.sorting-types-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-types-title {
  margin-right: 8px;
}

.sorting-item a {
  color: #e1e1e1;
  border-bottom: 1px dashed #81b3d2;
  text-decoration: none;
  margin-left: 33px;
}

.sorting-item.active a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-item a:hover {
  color: #000000;
  border-bottom: none;
}

.sorting-item a:active {
  color: #81b3d2;
}

.sort-order {
  display: flex;
  flex-direction: row;
}

.button-sorting {
  color: #cacaca;
  margin-right: 12px;
}

.button-sorting:hover {
  color: #231f20;
}

.button-sorting.active:hover {
  color: #81b3d2;
}

.button-sorting:active {
  color: #81b3d2;
}

.button-sorting.active {
  color: #81b3d2;
  cursor: default;
}

.hotel-list {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 0;
}

.hotel-img {
  display: block;
  width: 135px;
  height: auto;
  padding-right: 30px;
}

.hotel-name {
  color: #000000;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.hotel-info {
  flex-grow: 1;
}

.hotel-description {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.hotel-type {
  width: 112px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.hotel-price {
  width: 142px;
  margin-left: 6px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

.hotel-rating .rating {
  color: #727272;
  background-color: #f2f2f2;
  text-align: center;
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.stars {
  text-align: right;
}

.star {
  display: inline-block;
  background-image: url(../img/star.svg);
  width: 18px;
  height: 17px;
}

.button-blue {
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.button-blue:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button-blue:active {
  color: #91b7d1;
  background-color: #5496bd;
}

.button-brown {
  background-color: #766357;
  width: 142px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 6px;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: #928a85;
  background-color: #503e33;
}
